<div class="author-profile">
  {% if site.author.picture %}
    <img src="{{ site.baseurl }}{{ site.author.picture }}" alt="{{ site.author.name }}" class="author-profile-img">
  {% elsif site.author.avatar %}
    <img src="{{ site.baseurl }}{{ site.author.avatar }}" alt="{{ site.author.name }}" class="author-profile-img">
  {% endif %}

  <h2 class="author-profile-name">
    {% if site.author.name %}
      {{ site.author.name }}
    {% else %}
      Author
    {% endif %}
  </h2>

  {% if site.author.bio %}
    <p class="author-profile-bio">{{ site.author.bio }}</p>
  {% endif %}

  <div class="author-profile-links">
    {% if site.author.email %}
      <a href="mailto:{{ site.author.email }}" title="Email"><i class="fas fa-envelope"></i></a>
    {% endif %}
    {% if site.author.linkedin %}
      <a href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    {% endif %}
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener noreferrer" title="GitHub"><i class="fab fa-github"></i></a>
    {% endif %}
    {% if site.author.twitter %}
      <a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" rel="noopener noreferrer" title="Twitter"><i class="fab fa-twitter"></i></a>
    {% endif %}
  </div>
</div>