{% assign current_lang = page.lang | default: site.default_lang %}
{% assign t = site.data.i18n[current_lang] %}

<nav class="nav">
  <div class="nav-container">
    <a href="{{ t.nav.home_url | prepend: site.baseurl }}">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <div class="nav-right">
      <ul>
        <li><a href="{{ t.nav.posts_url | prepend: site.baseurl }}">{{ t.nav.posts }}</a></li>
        <li><a href="{{ t.nav.reads_url | prepend: site.baseurl }}">{{ t.nav.reads }}</a></li>
        <li><a href="{{ t.nav.links_url | prepend: site.baseurl }}">{{ t.nav.links }}</a></li>
        <li><a href="{{ t.nav.cv_url | prepend: site.baseurl }}">{{ t.nav.cv }}</a></li>
      </ul>
      {% include language-switcher.html %}
    </div>
  </div>
</nav>
