---
layout: default
---

{% assign current_lang = page.lang | default: site.default_lang %}

<div class="catalogue">
  {% for post in site.posts %}
    {% if post.sticky and post.lang == current_lang %}
      {% include catalogue_item.html sticky='true' %}
    {% endif %}
  {% endfor %}

  {% for post in paginator.posts %}
    {% unless post.sticky %}
      {% if post.lang == current_lang %}
        {% include catalogue_item.html %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>